.insendiary {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.figtree {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    z-index: 1;
}

.text-kontejner h2{
    font-weight: 200;
    font-size: 5rem;
    font-family: "Allura", cursive;
    font-style: normal;
    color: black;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.text-kontejner p{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.poemrectangle{
    position: relative;
    height: 380px;
    width: 230px;
    border: 100px;
    margin-left: 2rem ;
    background-color: whitesmoke;
    display: inline-block;
    mask: radial-gradient(14px at 40px 40px, transparent 98%, black) -40px -40px;
}

.poemhead {
    font-family: "Allura", cursive;
    font-style: normal;
    font-size: 2rem;
    color: black;
    text-align: center;
    font-weight: 200;
}

.poem {
    font-family: "Cormorant Garamond", serif;
    margin-left: 0.5rem;
    font-weight: 300;
    color: black;
    font-size: 1.1rem;
}

.firstrectangle {
    position: relative;
    height: 380px;
    width: 230px;
    border: 100px;
    margin-left: 2rem ;
    background-color: whitesmoke;
    display: inline-block;
    mask: radial-gradient(14px at 40px 40px, transparent 98%, black) -40px -40px;
}

.firstheading {
    font-family: "Allura", cursive;
    font-style: normal;
    font-size: 2rem;
    color: black;
    text-align: center;
    font-weight: 200;
}

.article {
    font-family: "Cormorant Garamond", serif;
    margin-left: 0.5rem;
    font-weight: 300;
    color: black;
    font-size: 1.1rem;
}

.more1 {
    margin-left: 0.5rem;
    font-weight: 300;
    font-size: 1.1rem;
    border: 0px transparent;
    background-color: whitesmoke;
}
